[submodule "template-nextjs-shadcn"]
	path = template-nextjs-shadcn
	url = https://github.com/get-convex/generate-template-nextjs.git
	branch = convex
[submodule "template-react-vite-shadcn"]
	path = template-react-vite-shadcn
	url = https://github.com/get-convex/generate-template-react-vite.git
	branch = convex
[submodule "template-react-vite-convexauth-shadcn"]
	path = template-react-vite-convexauth-shadcn
	url = https://github.com/get-convex/generate-template-react-vite.git
	branch = convex-auth
[submodule "template-nextjs-convexauth-shadcn"]
	path = template-nextjs-convexauth-shadcn
	url = https://github.com/get-convex/generate-template-nextjs.git
	branch = convex-auth
